@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace BlazorTestbank.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="~/" />
    <!--Bu css dosyası uygulama sayfalarında kullanacağınız stil tanımları içindir:-->
    <link href="css/site.css" rel="stylesheet" />
    <!--Bootstrap stil tanımlarını kullanmak için bu linki ben ekledim:-->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!--
        DİKKAT! Ben denemelerimi çevrimdışı yaptığım için
        kendi indirdiğim bootstrap.css dosyasını projeye ekleyip
        onu gösteren bir link koydum.
        Siz isterseniz çevrimiçi bir bootstrap kaynağına link ekleyin.
    -->
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
