@page "/"

<div class="container mt-5 bg-primary rounded border border-dark">
    <h1 class="m-2 display1 text-light text-center">Blazor Testbank App</h1>

    <div class="row">
        <div class="col-md-4 p-2">
            <div class="border rounded-2 border-light">
                <button class="btn btn-default bg-light border border-dark rounded-2 m-2"
                    @onclick = "AddTestbank">
                    +ADD
                </button>

                <div class="row m-2">
                <TestbankListComponent
                    tbList="@testbanks" 
                    @bind-tbSelected =selectedTestbank/>
                    <!--source for two-way binding: https://blazor-university.com/components/two-way-binding/-->
                </div>
            </div>
        </div>

        <div class="col-md-8 p-2">
            @if(selectedTestbank != null)
            {
                <input class ="w-100" @bind="selectedTestbank.Name" />

                <textarea class="w-100" rows="3" @bind="selectedTestbank.Description" />
            }

        </div>
    </div>
</div>

@code {
    public TestbankList testbanks = new();

    private Testbank? selectedTestbank = null;

    private void AddTestbank()
    {
        Testbank tb = new Testbank();
        testbanks.Add(tb);
    }
}